[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
python-nmap = "*"
pipenv = "==2018.6.25"
ipcalc = "*"
six = "*"
pytraceroute = "*"
scapy = "*"
netmiko = "==2.1.1"
paramiko = "==2.1.6"
netdev = "*"
requests = "*"
networkx = "*"
bokeh = "*"
matplotlib = "*"
scipy = "*"
pip = "==18.1"
"rpy2" = "*"
pandas = "*"
"mpld3" = "*"
pysnmp = "*"
scp = "*"
tqdm = "*"
pylint = "*"
pytest = "*"

[requires]
python_version = "3.6"
